body {
    background-image: url(hole1Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

#count {
    font-size: 50px;
    margin: auto;
    height: 50px;
    width: 70%;
    margin-top: 15px;
    background-image: url(ball-pattern.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

#box {
    margin: auto;
    height: 500px;
    width: 70%;
    background-image: url(./ball-pattern.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    cursor: pointer;

}

#question {
    padding-top: 150px;
    font-size: 35px;
}

#name {
    font-size: 25px;
    border-top: 1px solid #ccc;
    
}

#press {
    font-size: 50px;
}

#start {
    font-size: 75px;
    border: 1px solid #bbb;
    width: 30%;
    margin: auto;
    background-color: orange;
}

#right, #wrong1, #wrong2, #wrong3 {
    width: 34%;
    border: 5px solid #bbb;
    border-radius: 35px;
    font-size: 35px;
    margin: auto;
    margin-top: 20px;
}

#right:hover, #wrong1:hover, #wrong2:hover, #wrong3:hover {
    background-color: #bbb;
    transform: scale(1.5);
}

#correct, #incorrect {
    font-size: 32px;
    color: red;
}

#answer {
    font-size: 23px;
}

#questions {
    font-size: 35px;
}

.correct {
    font-size: 50px;
    padding-top: 25px;
}

#gameover {
    color: red;
    font-size: 50px;
}