body {
    font-family: 'Poppins', sans-serif;
}

.bg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0px;

}

#count {
    font-size: 38px;
    margin: auto;
    height: 50px;
    width: 76%;
    margin-top: 15px;
    background-image: url(ball-pattern.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border-radius: 20px;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

#timer {
    font-size: 50px;
    color: red;
    padding-top: 45px;
}

#box {
    padding: 5px;
    position: relative;
    margin: auto;
    height: 550px;
    width: 75%;
    background-image: url(./ball-pattern.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
}

#name {
    font-size: 25px;
    border-top: 1px solid #ccc;
    
}

#press {
    font-size: 50px;
}

#start {
    font-size: 60px;
    border: 1px solid #bbb;
    width: 30%;
    margin: auto;
    background-color: orange;
    border-radius: 20px;
}

img {
    border-radius: 20px;
}

#right, #wrong1, #wrong2, #wrong3 {
    width: 34%;
    border: 5px solid #bbb;
    border-radius: 35px;
    font-size: 30px;
    margin: auto;
    margin-top: 20px;
}

#right:hover, #wrong1:hover, #wrong2:hover, #wrong3:hover {
    background-color: #bbb;
    transform: scale(1.5);
}

#correct, #incorrect {
    font-size: 32px;
    color: red;
}

#answer {
    font-size: 23px;
}

#questions {
    font-size: 30px;
}

.correct {
    font-size: 50px;
    padding-top: 25px;
}

#gameover {
    color: red;
    font-size: 50px;
}

@media screen and (max-width: 980px) {
    
    #start{
        font-size: 5.5vw;
    }

    .bg {
        height: 100%
    }

    #right, #wrong1, #wrong2, #wrong3 {
        font-size: 3.0vw;
    }

    img {
        position: absolute;
        left: 24%;
        width: 55%;
        height: 45%;
        
    }
    
    #count {
        font-size: 3.5vw;
    }

    .correct {
        font-size: 5.5vw;
    }
}
